body 
{
    background-color: white;
    color: rgb(15, 20, 25);
}

.publication
{
    border-radius: 10px;
}

.publication:hover 
{
    background-color: rgba(15, 25, 20, 0.1);
}

p.number{
    color: rgb(15, 20, 25);
    font: bold;
}

p.number:hover
{
    text-decoration: underline;
}

.statistic 
{
    color: rgb(83, 100, 113);
}

.statistic:hover
{
    text-decoration: underline;
}

.navigation 
{
    border-radius: 10px;
}

.navigation:hover 
{
    background-color: rgba(15, 25, 20, 0.1);
}

.actions 
{
color: rgb(83, 100, 113);
border-radius: 10px;
}

.reply:hover
{
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 0.1);
}

.retzeet:hover
{
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
}

.like:hover
{
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
}

.name
{
    color: rgb(15, 20, 25);
}

.user
{
    color: rgb(83, 100, 113);
}

.bio
{
    color: rgb(15, 20, 25);
}

.locDate
{
    color: rgb(83, 100, 113);
}

.date 
{
    color: rgb(83, 100, 113);
}

.text
{
    color: rgb(15, 20, 25);
}

.tzeet 
{
    color: rgb(15, 20, 25);
}
.tzeet:hover
{
    background-color: rgba(0, 0, 0, 0.03);
}